.info {
  background-image: url(backgrounds/h_img.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 17%;
  padding-bottom: 15%;
}
.info h1 {
  color: white;
  text-align: center;
}
.info h2 {
  color: white;
  text-align: center;
}
.info p {
  color: white;
  text-align: center;
}
.about {
  text-align: center;
}
.serv {
  background-image: url(backgrounds/s_image.jpg);
  text-align: center;
}
.serv h1 {
  color: white;
}
.serv p {
  color: white;
}
.do {
  text-align: center;
}
.do h1 {
  text-align: center;
}
.do h2 {
  text-align: center;
}
.do p {
  text-align: center;
}
.contact {
  background-image: url(backgrounds/c_image.jpg);
  text-align: center;
  align-content: center;
}
.contact {
  color: white;
  background-size: cover;
  align-self: center;
}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Copse', serif;
  align-self: center;
}